@using CarDealership.Models;
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Car Shop</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Car Shop Inventory</h1>
    </div>

    @if (Model.Count == 0)
    {
      <p>You have no cars in your inventory!</p>
    }
    @if(Model.Count != 0)
    {
      @foreach (Cars car in Model)
      {

        <div class="card col-md-4" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">@car.makeModel</h5>
            <ul class="card-text">
              <li>Color: @car.color</li>
              <li>Mileage: @car.mileage</li>
              <li>Price: @car.price</li>
            </ul>
          </div>
        </div>
      }
    }

    <a href='/cars/new' class="btn btn-dark">Add another car</a>

    <form action="/cars/delete" method="post">
      <button type="submit" class="btn btn-dark" name="button">Clear All Cars</button>
    </form>

  </div>
</body>
</html>
