@using CarDealership.Models;
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Car Shop</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Car Shop Inventory</h1>
    </div>

    @if (Model.Count == 0)
    {
      <p>You have no cars in your inventory!</p>
    }
    @if(Model.Count != 0)
    {
      @foreach (Cars car in Model)
      {
        <div class="list">
          <div class="card col-md-12">
            <div class="card-body">
              <h5 class="card-title">@car.makeModel</h5>
              <ul class="card-text">
                <li>Color: @car.color</li>
                <li>Mileage: @car.mileage</li>
                <li>Price: @car.price</li>
              </ul>
            </div>
          </div>
        </div>
      }
    }
    <div class="list">
      <a href='/cars/new' class="btn btn-dark">Add a new car</a>
      <a href='/' class="btn btn-dark">Back to Homepage</a>
    </div>
  </div>
</body>
</html>
